aiohttp
beautifulsoup4
datasets
grpcio
grpcio-tools
httpx
huggingface-hub
lxml
neo4j
numpy
pandas
protobuf
psycopg[binary]
pyarrow
pydantic
python-dotenv
PyYAML
qdrant-client
requests
scikit-learn
scipy
sentence-transformers
torch
tqdm
transformers

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-qdrant
langgraph
langgraph-checkpoint-sqlite
langsmith
pillow
fastapi
uvicorn
python-multipart
streamlit